/* Common styles */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    max-width: 1320px;
    margin: 0 auto;
    font-family: "Merriweather", "Inter", sans-serif;
}

.com-color {
    color: #F00;
}

button {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    padding: 16px 32px;
    border-style: double;
    border: 01px solid salmon;
    border-radius: 10px;
    cursor: pointer;
}

/* Header style  */

header {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../Images/Banner\ Image.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin: 20px 0 120px;
}

header .header-container {
    text-align: center;
    width: 630px;
    margin: 0 auto;
    padding: 150px 0;
    color: white;
    font-family: Merriweather;
}

header P {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

header h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 95px;
}

/* end of header style */

/* 65% off style */
.less-container {
    font-family: Inter;
    text-align: center;
    margin-bottom: 120px;
}

.less-cotent h2 {
    font-size: 88px;
    font-weight: 700;
}

.less-cotent p {
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 16px;
}

.less-cotent h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

/* End of 65% off style */

/* Midnight party style */
.party-container {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../Images/midnight\ party.png);
    background-size: cover;
    border-radius: 16px;
    padding: 70px 100px;
    margin-bottom: 120px;
}

.party-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 35px;
}

.party-content .party-text {
    max-width: 690px;
}

.party-text h3 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.party-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 48px;
}

.party-text button {
    background: none;
    margin-left: 30px;
}

/* End of Midnight party style */

/* Party Venu section style */
.venue-container {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 100px 385px 125px;
    border-radius: 10px;
    margin-bottom: 120px;
}

.venue-container .venue-content {
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    color: #070211;
}

.venue-content span {
    color: #F00;
}

.venue-content button {
    margin-top: 48px;
    background-color: #F00;
    font-size: 20px;
    font-weight: 700;
}

/* End of Party Venu section style */

/* coming soon section style */
.coming-soon-container {
    margin-bottom: 120px;
}

.bestoffer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bestoffer-text {
    max-width: 395px;
    margin-top: 75px;
}

.bestoffer-text .new {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.bestoffer-text h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 22px;
}

.bestoffer-text,
.year-content .dolor {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.bestoffer-img {
    padding: 48px;
    border-radius: 463px;
    border: 15px solid #F00;
    margin-left: 70px;
    margin-right: 90px;
}

.year-content {
    font-family: Inter;
    max-width: 300px;
    margin-top:112px ;
}

.year-content .year {
    font-size: 48px;
    font-weight: 700;
}
#sit{
    margin-top: 16px;
    margin-bottom: 45px;
}
.year-content .year-img{
    width: auto;
    display: flex;
    justify-content: end;
    align-items: end;
}
/* End of coming soon section style */
