/* Common styles */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    max-width: 1320px;
    margin: 0 auto;
    font-family: "Merriweather", "Inter", sans-serif;
}

.com-color {
    color: #F00;
    ;
}

/* Header style  */

header {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../Images/Banner\ Image.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin: 20px 0 120px;
}

header .header-container {
    text-align: center;
    width: 630px;
    margin: 0 auto;
    padding: 150px 0;
    color: white;
    font-family: Merriweather;
}

header P {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

header h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 95px;
}

/* end of header style */

/* 65% off style */
.less-container {
    font-family: Inter;
    text-align: center;
    margin-bottom: 120px;
}

.less-cotent h2 {
    font-size: 88px;
    font-weight: 700;
}

.less-cotent p {
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 16px;
}

.less-cotent h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}
/* End of 65% off style */
