/* Common styles */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    max-width: 1320px;
    margin: 0 auto;
    font-family: "Merriweather", "Inter", sans-serif;
}

/* Header style  */

header {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../Images/Banner\ Image.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin: 20px 0 120px;
}

header .header-container {
    text-align: center;
    width: 630px;
    margin: 0 auto;
    padding: 150px 0;
    color: white;
    font-family: Merriweather;
}

header P {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

header h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 95px;
}